.mainContainer {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    height: 60rem;

    h1 {
        font-family: 'Source Sans Pro', sans-serif;
        padding: 1rem 2rem;
        text-align: left;
        font-size: 2rem;
        background: white;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1279);
    }

    .sticky {
        position: sticky;
        top: 0;
        z-index: 10;
    }
}

.eventContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-y: scroll;

    .singleEvent {
        margin: .5rem 0rem;
        padding: 1rem 2rem;
        position: relative;

        .image {
            height: 10rem;
            background-color: grey;
            margin-bottom: 1rem;
            background-image: url('../../public/event.jpg');
            background-size: contain;
            background-position: top left;
        }

        h5 {
            font-size: 1.5rem;
            margin-bottom: .5rem;
            font-weight: bold;
        }

        h6 {
            color: #023c88;
            font-size: 1rem;
            margin-bottom: 1rem;
            font-weight: bold;
            margin-right: 1rem;
        }

        p {
            color: #023c88;
            font-weight: bold;
            margin-left: .5rem;
        }

        .dateEmail {
            display: flex;
            justify-content: space-betweend;
        }

        .socialBox {
            position: absolute;
            bottom: 0;
            right: 2rem;
            background: white;
            border: 2px solid white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            padding: 1px;
            color: #023c88;
            cursor: pointer;
        }

        .likeIcon {
            display: flex;
            align-items: center;
            margin-top: .25rem;

            p {
                margin-left: 0.25rem;
                cursor: auto;
            }
        }
    }
}