.content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #144272;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../public/detroit-bg.jpg");
    background-size: cover;
    background-position: top right;
    border-bottom: 4px solid #144272;
    min-height: 90vh;
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2.5rem 1rem .5rem 1rem;
}

.single_image_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem .4rem;
    margin: 0rem 1rem;
    border-radius: 100%;
    border: 4px solid white;
}

.main_header {
    font-size: 30px;
    letter-spacing: .5px;
    margin: 1rem 3rem 0rem 3rem;
    text-align: center;
}

.main_header span {
    color: rgb(255, 251, 0);
}

.dealContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 80%;
}

.indivDeal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 7rem;
    border: 2px solid lightgrey;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.title {
    padding: .5rem 2rem;
    background-color: rgba(0, 0, 0, 0.658);
    font-size: 1.5rem;
}

.imageOne {
    background-image: url('../public/food-one.jpg');
    background-size: contain;
    background-position: top left;
}

.imageTwo {
    background-image: url('../public/food-two.jpg');
    background-size: contain;
    background-position: top left;
}

.imageThree {
    background-image: url('../public/food-three.jpg');
    background-size: contain;
    background-position: top left;
}

.dealButton {
    background: #111;
    border: 2px solid #144272;
    color: white;
    padding: .5rem 1rem;
    margin-left: 10rem;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: #111;
    -webkit-box-shadow: -1px 6px 16px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 16px -6px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 16px -6px rgba(0,0,0,0.75);
    margin-bottom: 2rem;
}